@model IEnumerable<Organizacional.Models.Mantenimiento>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TotalMantenimientos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MantenimientoRealizado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProximoMantenimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDocumentoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TotalMantenimientos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MantenimientoRealizado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProximoMantenimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDocumentoNavigation.IdDocumento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
